<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::content})}">
<head>
    <title th:text="${proveedor.id} == null ? 'Nuevo proveedor' : 'Editar proveedor'"></title>
</head>
<body>
<section th:fragment="content">
    <section class="content-header">
        <h1 th:text="${proveedor.id} == null ? 'Nuevo proveedor' : 'Editar proveedor'"></h1>
        <div class="pull-right">
            <a class="btn btn-default" th:href="@{/proveedores}"><i class="fa fa-arrow-left"></i> Volver</a>
        </div>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
                <form th:action="${proveedor.id} == null ? @{/proveedores} : @{'/proveedores/' + ${proveedor.id}}" method="post"
                      th:object="${proveedor}">
                    <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger"
                         th:each="err : ${#fields.globalErrors()}" th:text="${err.defaultMessage}"></div>
                    <input type="hidden" th:field="*{id}" />
                    <div class="form-group">
                        <label for="cuit">CUIT</label>
                        <input type="text" class="form-control" id="cuit" th:field="*{cuit}" required>
                        <p class="text-danger" th:if="${#fields.hasErrors('cuit')}" th:errors="*{cuit}"></p>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>
</body>
</html>
