<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::content})}">
<head>
    <title>Proveedores</title>
</head>
<body>
<section th:fragment="content">
    <section class="content-header">
        <h1>Proveedores</h1>
        <div class="pull-right">
            <a class="btn btn-success" th:href="@{/proveedores/pdf}" title="Descargar PDF con todos los proveedores">
                <i class="fa fa-file-pdf-o"></i> Descargar PDF
            </a>
            <a class="btn btn-primary" th:href="@{/proveedores/new}"><i class="fa fa-plus"></i> Nuevo proveedor</a>
        </div>
    </section>
    <section class="content">
        <div th:insert="~{fragments/alerts :: alerts}"></div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <form class="form-inline" method="get" th:action="@{/proveedores}">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar por CUIT" name="filtro"
                               th:value="${filtro}">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Buscar</button>
                </form>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>CUIT</th>
                            <th class="text-center" style="width:120px;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${page.empty}">
                            <td colspan="2" class="text-center">No hay proveedores registrados.</td>
                        </tr>
                        <tr th:each="proveedor : ${page.content}">
                            <td th:text="${proveedor.cuit}">30-12345678-9</td>
                            <td class="text-center">
                                <a class="btn btn-xs btn-default" th:href="@{'/proveedores/' + ${proveedor.id} + '/edit'}" title="Editar">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <form th:action="@{'/proveedores/' + ${proveedor.id} + '/delete'}" method="post" style="display:inline-block;"
                                      onsubmit="return confirm('¿Confirma eliminar el proveedor seleccionado?');">
                                    <button class="btn btn-xs btn-danger" type="submit" title="Eliminar">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix" th:insert="~{fragments/pagination :: pagination(${page}, '/proveedores')}"></div>
        </div>
    </section>
</section>
</body>
</html>
