<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:replace="${title}">Greedy Empresa</title>
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">
</head>
<body id="page-top">
    <div id="wrapper">
        <th:block th:replace="~{fragments/sidebar :: sidebar(${activeMenu})}"></th:block>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <th:block th:replace="~{fragments/topbar :: topbar}"></th:block>
                <main class="container-fluid" th:replace="${content}"></main>
            </div>
            <th:block th:replace="~{fragments/footer :: footer}"></th:block>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <th:block th:replace="~{fragments/scripts :: scripts(null)}"></th:block>

</body>
</html>
