<div th:fragment="_card" class="product__item">
    <!-- Si la imagen es una URL completa (http/https), usarla directamente; si no, agregar /imagenes/ -->
    <div class="product__item__pic set-bg" 
         th:data-setbg="${#strings.startsWith(videojuego.imagen, 'http') ? videojuego.imagen : '/imagenes/' + videojuego.imagen}">
        <div class="comment"><i class="fa fa-dollar"></i> <span th:text="${videojuego.precio}">0</span></div>
        <div class="view"><i class="fa fa-gamepad"></i> Videojuego</div>
    </div>
    <div class="product__item__text">
        <ul>
            <li>Disponible</li>
            <li>Gaming</li>
        </ul>
        <h5><a th:href="@{detalle/{id}(id=${videojuego.id})}" th:text="${videojuego.titulo}">Título del Videojuego</a></h5>
    </div>
</div>