<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::content})}">
<head>
    <title>Dashboard</title>
</head>
<body>
<section th:fragment="content">
    <section class="content-header">
        <h1>Dashboard <small>Resumen general</small></h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 th:text="${usuariosActivos}">0</h3>
                        <p>Usuarios activos</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 th:text="${empresasActivas}">0</h3>
                        <p>Empresas</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-building"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 th:text="${proveedoresActivos}">0</h3>
                        <p>Proveedores</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-truck"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 th:text="${paisesActivos}">0</h3>
                        <p>Países</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-globe"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>
