<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::content})}">
<head>
    <title>Error en la aplicación</title>
</head>
<body>
<section th:fragment="content">
    <section class="content-header">
        <h1><i class="fa fa-exclamation-triangle"></i> Error en la aplicación</h1>
    </section>
    <section class="content">
        <div class="alert alert-danger">
            <h4><i class="icon fa fa-ban"></i> ¡Ups! Ha ocurrido un error</h4>
            <p><strong>Tipo de error:</strong> <span th:text="${errorType}">Error desconocido</span></p>
            <p><strong>Mensaje:</strong> <span th:text="${errorMessage}">Mensaje de error</span></p>
            <p><strong>URL:</strong> <span th:text="${requestUrl}">URL solicitada</span></p>
        </div>
        
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Detalles técnicos</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display: none;">
                <pre th:text="${stackTrace}">Stack trace aquí</pre>
            </div>
        </div>
        
        <div class="box-footer">
            <a href="javascript:history.back()" class="btn btn-default">
                <i class="fa fa-arrow-left"></i> Volver
            </a>
            <a th:href="@{/}" class="btn btn-primary">
                <i class="fa fa-home"></i> Ir al inicio
            </a>
        </div>
    </section>
</section>
</body>
</html>